torch
torchvision
streamlit
openai
langchain==0.1.17
Pillow
python-dotenv
langchain-community>=0.0.11
transformers>=4.36.0
huggingface-hub
accelerate
safetensors
sentencepiece
peft
bitsandbytes
sentence-transformers
chromadb>=0.4.24
tqdm
langchain-openai>=0.0.6
streamlit-chat
redis
